extends layout

block content
  h1= title

  if querystring
    h2 Search query: #{querystring}
    p #{items.length} results found.
  
  ul
    each doc in items
      li
        a(href="/read/#{doc.path.key}") #{doc.value.title} 
        |  uploaded by #{doc.value.user}
